<%- include('template/header') -%>
<link href="/console/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/console/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/console/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/console/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="container body">
    <div class="main_container">
        <%- include('template/menu') -%>
        <!-- top navigation -->
        <%- include('template/top-navigator') -%>
        <!-- /top navigation -->


        <div class="right_col" role="main">

            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            Form Validation
                        </h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Responsive example <small>Users</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>CSV</span></a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <% tableColumns.forEach( function( column ) { %>
                                            <th><%= column %></th>
                                        <% }); %>
                                        <th> Действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for( var i=0;i<items.length;i++) { %>
                                    <tr>
                                        <% tableColumns.forEach( function( column ) { %>
                                            <td><%- items[i].showAttributeValue( column ) %></td>
                                        <% }); %>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="true">Действия <span class="caret"></span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu">
                                                    <li><a href="<%= siteHelper.getSiteUrl( [ "console", "catalog", items[i].tableName, items[i].getAttribute("id") ] ) %>">Редактировать</a>
                                                    </li>
                                                    <li><a href="<%= siteHelper.getSiteUrl( [ "console", "catalog", items[i].tableName, "delete", items[i].getAttribute("id") ] ) %>">Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('template/center-bottom') -%>
        </div>
        <!-- /page content -->
    </div>

</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

<script src="/console/js/bootstrap.min.js"></script>

<!-- bootstrap progress js -->
<script src="/console/js/progressbar/bootstrap-progressbar.min.js"></script>
<!-- icheck -->
<script src="/console/js/icheck/icheck.min.js"></script>
<!-- pace -->
<script src="/console/js/pace/pace.min.js"></script>
<script src="/console/js/custom.js"></script>
<!-- form validation -->
<!-- Datatables-->
<script src="/console/js/datatables/jquery.dataTables.min.js"></script>
<script src="/console/js/datatables/dataTables.bootstrap.js"></script>
<script src="/console/js/datatables/dataTables.buttons.min.js"></script>
<script src="/console/js/datatables/buttons.bootstrap.min.js"></script>
<script src="/console/js/datatables/jszip.min.js"></script>
<script src="/console/js/datatables/pdfmake.min.js"></script>
<script src="/console/js/datatables/vfs_fonts.js"></script>
<script src="/console/js/datatables/buttons.html5.min.js"></script>
<script src="/console/js/datatables/buttons.print.min.js"></script>
<script src="/console/js/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/console/js/datatables/dataTables.responsive.min.js"></script>
<script src="/console/js/datatables/responsive.bootstrap.min.js"></script>

<!-- pace -->
<script src="js/pace/pace.min.js"></script>
<script>
    var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-responsive").length && $("#datatable-responsive").DataTable({
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0,
                    //keys: true,
                    fixedHeader: true,
                    dom: "Bfrtip"
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();

    TableManageButtons.init();
</script>